body{
    background-image: url(../images/snowflake-background-vector-319329.jpg);

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.option {
    border: 1px solid aquamarine;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.card-body{
    position: static;
    top: 50%;
    bottom: 50%;
    margin: auto;
}