body{
    background-image: url(../images/snowflake-background-vector-319329.jpg);
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    color: aqua;
    font-size: 50px;
}

.option {
    border: 1px solid aquamarine;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.card-body{
    position: static;
    top: 50%;
    bottom: 50%;
    margin: auto;
}

.option:hover{
    background-color: lightblue;
}
